[data-theme='light'],
:root:not([data-theme='dark']) {
	--primary: #f4511e;
	--primary-hover: #e64a19;
	--primary-focus: rgba(244, 81, 30, 0.125);
	--primary-inverse: #fff;
}

/* Deep-orange Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		--primary: #f4511e;
		--primary-hover: #ff5722;
		--primary-focus: rgba(244, 81, 30, 0.25);
		--primary-inverse: #fff;
	}
}

/* Deep-orange Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
	--primary: #f4511e;
	--primary-hover: #ff5722;
	--primary-focus: rgba(244, 81, 30, 0.25);
	--primary-inverse: #fff;
}

/* Deep-orange (Common styles) */
:root {
	--form-element-active-border-color: var(--primary);
	--form-element-focus-color: var(--primary-focus);
	--switch-color: var(--primary-inverse);
	--switch-checked-background-color: var(--primary);
}
